/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [PsrID]
      ,[Firma]
      ,[RadnikID]
      ,[Ime]
      ,[SifraRM]
      ,[VrstaRM]
      ,[MT]
      ,[SatnicaKn]
      ,[TjednoRadnihSati]
      ,[DjelomicanRad]
      ,[DanDolaska]
      ,[DanOdlaska]
      ,[Godina]
      ,[Mjesec]
      ,[BrojDanaUmjesecu]
      ,[Dan01]
      ,[Dan02]
      ,[Dan03]
      ,[Dan04]
      ,[Dan05]
      ,[Dan06]
      ,[Dan07]
      ,[Dan08]
      ,[Dan09]
      ,[Dan10]
      ,[Dan11]
      ,[Dan12]
      ,[Dan13]
      ,[Dan14]
      ,[Dan15]
      ,[Dan16]
      ,[Dan17]
      ,[Dan18]
      ,[Dan19]
      ,[Dan20]
      ,[Dan21]
      ,[Dan22]
      ,[Dan23]
      ,[Dan24]
      ,[Dan25]
      ,[Dan26]
      ,[Dan27]
      ,[Dan28]
      ,[Dan29]
      ,[Dan30]
      ,[Dan31]
      ,[Stimulacija1]
      ,[Stimulacija2]
      ,[Stimulacija3]
      ,[Stimulacija4]
      ,[Stimulacija5]
      ,[RFID]
      ,[PsrUserList]
  FROM [FxSAP].[dbo].[PlanSatiRada]
  where (
 ( ((dan01 like '%g%') or (dan02 like '%g%') or (dan03 like '%g%') or (dan04 like '%g%') or (dan05 like '%g%') or (dan05 like '%g%') or (dan06 like '%g%') or (dan07 like '%g%') or (dan08 like '%g%') or (dan09 like '%g%') )
  or ((dan10 like '%g%') or (dan11 like '%g%') or (dan12 like '%g%') or (dan13 like '%g%') or (dan14 like '%g%') or (dan15 like '%g%') or (dan16 like '%g%') or (dan17 like '%g%') or (dan18 like '%g%') or (dan19 like '%g%') )
  or ((dan20 like '%g%') or (dan21 like '%g%') or (dan22 like '%g%') or (dan23 like '%g%') or (dan24 like '%g%') or (dan25 like '%g%') or (dan26 like '%g%') or (dan27 like '%g%') or (dan28 like '%g%') or (dan29 like '%g%') )
  or ((dan30 like '%g%') or (dan31 like '%g%'))))
  and godina=2017


SELECT TOP 1000 [PsrID]
      ,[Firma]
      ,[RadnikID]
      ,[Ime]
      ,[SifraRM]
      ,[VrstaRM]
      ,[MT]
      ,[SatnicaKn]
      ,[TjednoRadnihSati]
      ,[DjelomicanRad]
      ,[DanDolaska]
      ,[DanOdlaska]
      ,[Godina]
      ,[Mjesec]
      ,[BrojDanaUmjesecu]
      ,[Dan01]
      ,[Dan02]
      ,[Dan03]
      ,[Dan04]
      ,[Dan05]
      ,[Dan06]
      ,[Dan07]
      ,[Dan08]
      ,[Dan09]
      ,[Dan10]
      ,[Dan11]
      ,[Dan12]
      ,[Dan13]
      ,[Dan14]
      ,[Dan15]
      ,[Dan16]
      ,[Dan17]
      ,[Dan18]
      ,[Dan19]
      ,[Dan20]
      ,[Dan21]
      ,[Dan22]
      ,[Dan23]
      ,[Dan24]
      ,[Dan25]
      ,[Dan26]
      ,[Dan27]
      ,[Dan28]
      ,[Dan29]
      ,[Dan30]
      ,[Dan31]
      ,[Stimulacija1]
      ,[Stimulacija2]
      ,[Stimulacija3]
      ,[Stimulacija4]
      ,[Stimulacija5]
      ,[RFID]
      ,[PsrUserList]
  FROM [FxSAP].[dbo].[PlanSatiRada]
  where  (((dan01 like '%b%') or (dan02 like '%b%') or (dan03 like '%b%') or (dan04 like '%b%') or (dan05 like '%b%') or (dan05 like '%b%') or (dan06 like '%b%') or (dan07 like '%b%') or (dan08 like '%b%') or (dan09 like '%b%') )
  or ((dan10 like '%b%') or (dan11 like '%b%') or (dan12 like '%b%') or (dan13 like '%b%') or (dan14 like '%b%') or (dan15 like '%b%') or (dan16 like '%b%') or (dan17 like '%b%') or (dan18 like '%b%') or (dan19 like '%b%') )
  or ((dan20 like '%b%') or (dan21 like '%b%') or (dan22 like '%b%') or (dan23 like '%b%') or (dan24 like '%b%') or (dan25 like '%b%') or (dan26 like '%b%') or (dan27 like '%b%') or (dan28 like '%b%') or (dan29 like '%b%') )
  or ((dan30 like '%b%') or (dan31 like '%b%')))
  and godina=2017 and mjesec = 1
  order by ime



  
SELECT TOP 1000 [PsrID]
      ,[Firma]
      ,[RadnikID]
      ,[Ime]
      ,[SifraRM]
      ,[VrstaRM]
      ,[MT]
      ,[SatnicaKn]
      ,[TjednoRadnihSati]
      ,[DjelomicanRad]
      ,[DanDolaska]
      ,[DanOdlaska]
      ,[Godina]
      ,[Mjesec]
      ,[BrojDanaUmjesecu]
      ,[Dan01]
      ,[Dan02]
      ,[Dan03]
      ,[Dan04]
      ,[Dan05]
      ,[Dan06]
      ,[Dan07]
      ,[Dan08]
      ,[Dan09]
      ,[Dan10]
      ,[Dan11]
      ,[Dan12]
      ,[Dan13]
      ,[Dan14]
      ,[Dan15]
      ,[Dan16]
      ,[Dan17]
      ,[Dan18]
      ,[Dan19]
      ,[Dan20]
      ,[Dan21]
      ,[Dan22]
      ,[Dan23]
      ,[Dan24]
      ,[Dan25]
      ,[Dan26]
      ,[Dan27]
      ,[Dan28]
      ,[Dan29]
      ,[Dan30]
      ,[Dan31]
      ,[Stimulacija1]
      ,[Stimulacija2]
      ,[Stimulacija3]
      ,[Stimulacija4]
      ,[Stimulacija5]
      ,[RFID]
      ,[PsrUserList]
  FROM [FxSAP].[dbo].[PlanSatiRada]
  where radnikid=288 and mjesec=1 and godina=2017
  order by ime