/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Rec No]
      ,[Radnik Id]
      ,[Opcina Rada]
      ,[Vro]
      ,[Opcina]
      ,[Ime]
      ,[Ime X]
      ,[Prezime X]
      ,[Adresa]
      ,[Posta]
      ,[Mjesto]
      ,[Datum Rodjenja]
      ,[Datum Sklapanja Ugovora]
      ,[Datum Zaposljavanja]
      ,[Vrsta Isplate]
      ,[Skolska Sprema]
      ,[Zasticeni Rn]
      ,[Sifra Banke]
      ,[Mt]
      ,[Lokacija]
      ,[Jmbg]
      ,[Oib]
      ,[RFID]
      ,[Rfid2]
      ,[Rfidhex]
      ,[CustId]
      ,[Radna Dozvola]
      ,[Firma]
      ,[Spol]
      ,[Mjesto Rada]
      ,[Zanimanje]
      ,[Strucno Obrazovanje Radnika]
      ,[Strucna Sprema Za Obavljanje Poslova]
      ,[Radno Mjesto]
      ,[Sifra Rm]
      ,[Dnevno Radnih Sati]
      ,[Tjedno Radnih Sati]
      ,[Nacin Zaposljavanja]
      ,[Vrijeme Probnog Roka]
      ,[Trajanje Pripravnickog Staza]
      ,[Trajanje Rada Inozemstvo]
      ,[Drzava Rada Inozemstvo]
      ,[Benificirani Staz]
      ,[Benificirani Staz Koef]
      ,[Posao Zahtjeva Utvrd Radne Sposobnosti]
      ,[Datum Prestanka Rada]
      ,[Razlog Prestanka Rada]
      ,[Radni Staz Ovdje God]
      ,[Radni Staz Ovdje Mje]
      ,[Radni Staz Ovdje Dan]
      ,[Ugovorena Zabrana Natjecanja]
      ,[Dopr Za Produzeni Mio]
      ,[Dopunski Rad]
      ,[Naziv Mjesto Dopunskog Rada]
      ,[Dnevno Radnih Sati Dopunsko]
      ,[Naziv Drugog Poslodavca]
      ,[Datum Zaposljavanja2]
      ,[Datum Prestanka Rada2]
      ,[Razlog Prestanka Rada2]
      ,[Psr User List]
      ,[Ne Radi]
  FROM [RFIND].[dbo].[RadniciAT0]


  select x1.* into radnici_ from (
  select [Radnik Id] id , [ime x]ime,[prezime x]prezime,rfid,rfid2,rfidhex,custid,mt,lokacija,oib,spol,[ne radi]neradi,[Radno Mjesto]radnomjesto,'Feroimpex' as poduzece from radniciat0
  union all
  select [Radnik Id] id , [ime x]ime,[prezime x]prezime,rfid,rfid2,rfidhex,custid,mt,lokacija,oib,spol,[ne radi]neradi,[Radno Mjesto]radnomjesto,'Tokabu' as poduzece from radnicitb0
  ) x1



