/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [id]
      ,[ime]
      ,[prezime]
      ,[rfid]
      ,[rfid2]
      ,[rfidhex]
      ,[custid]
      ,[mt]
      ,[lokacija]
      ,[oib]
      ,[spol]
      ,[neradi]
      ,[radnomjesto]
      ,[poduzece]
  FROM [RFIND].[dbo].[radnici_]
  order by id