/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [acWorker]
      ,[acRegNo]
      ,[acSex]
      ,[acUCN]
      ,[acTaxId]
      ,[acEmploymentType]
      ,[acMunicipality]
      ,[acKS]
      ,[acDept]
      ,[acActive]
      ,[acDriverId]
      ,[acNote]
      ,[acVATCodePrefix]
      ,[adDateBirth]
      ,[adDateEnter]
      ,[adDateExit]
      ,[acLOSBefore]
      ,[acSalaryCalc]
      ,[anUserIns]
      ,[adTimeIns]
      ,[anUserChg]
      ,[adTimeChg]
      ,[acMunicipalityWork]
      ,[acJob]
      ,[acCarRegNo]
      ,[acAgencySignedBy]
      ,[acWorkPermitNo]
      ,[acSurname]
      ,[acName]
      ,[acMotherName]
      ,[acTaxOffice]
      ,[acPost]
      ,[acFatherName]
      ,[acBirthSurname]
      ,[acMaritalStatus]
      ,[acCountryCitizenship]
      ,[acCitizenship]
      ,[acStatus]
      ,[acOccup]
      ,[acFinishedSchool]
      ,[acProfQual]
      ,[acEducation]
      ,[acCityBirth]
      ,[acMunicipalityBirth]
      ,[acCountryBirth]
      ,[acIGroup]
      ,[acStreet]
      ,[acPhone]
      ,[acCity]
      ,[acCountry]
      ,[acTempStreet]
      ,[acTempPhone]
      ,[acTempCity]
      ,[acTempMunicip]
      ,[acTempKS]
      ,[acTempPost]
      ,[acTempCounty]
      ,[acTempResid]
      ,[acLOSBeforeCompany]
      ,[acBeneBefore]
      ,[acBeneBeforeCompany]
      ,[acLOSBuy]
      ,[acBeneBuy]
      ,[acBeneLOSInc]
      ,[acBeneLOS]
      ,[acWorkingSaturday]
      ,[acWorkingSunday]
      ,[acCompanyCar]
      ,[acWorkPerIssu]
      ,[adWorkPerFrom]
      ,[adWorkPerTo]
      ,[adVisaTo]
      ,[adEmployedTo]
      ,[acProfEduc]
      ,[acSchoolEducation]
      ,[acCeaseCause]
      ,[acBirthPost]
      ,[acEmail]
      ,[acHealthCardRegOff]
      ,[acHealthCardHZZO]
      ,[acFormulaVacationAdd]
      ,[acFormulaVacation]
      ,[acVacationCalcType]
      ,[acSingleParent]
      ,[anCardNo]
      ,[acWorkHourCode]
      ,[adDateBeginHourWork]
      ,[acWorkPerToUnLtd]
      ,[acVSPIPremClassManually]
      ,[anVSPIPremClass]
      ,[acVSPIPolicyNo]
      ,[adVSPIEntryDate]
      ,[adVSPIExitDate]
      ,[anVSPIWorkerPercent]
      ,[anVSPIAmount]
      ,[anVSPIBnkAcctNo]
      ,[acMSPIPolicyNo]
      ,[adMSPIEntryDate]
      ,[anMSPIPercent]
      ,[adMSPIExitDate]
      ,[acForeignTaxDeduct]
      ,[anShoeNo]
      ,[acPrefix]
      ,[acMiddleName]
      ,[anTreineeYr]
      ,[acVSPIBnk]
      ,[acVSPIEntryType]
      ,[acJobCriteria]
      ,[acOverTime]
      ,[anReduction]
      ,[acCountryResidency]
      ,[acCountrySend]
      ,[acPayCurrency]
      ,[acNew]
      ,[acColumn2]
      ,[acNoPI]
      ,[acDisableQuota]
      ,[acDisabilityType]
      ,[acFormPPOPJ]
      ,[acVisaUnLtd]
      ,[acBaseContrib]
      ,[adMaritalDate]
      ,[adStartAbsence]
      ,[acOwnerPrivComp]
      ,[acIsSpecReduction]
      ,[anWorkingHours]
      ,[acShiftType]
      ,[acText01]
      ,[acText02]
      ,[acText03]
      ,[acText04]
      ,[acText05]
      ,[acText06]
      ,[acText07]
      ,[acText08]
      ,[acText09]
      ,[acText10]
      ,[acSufix]
      ,[acEntranceCause]
      ,[acLocalization]
      ,[acFromRS]
      ,[acTrialPeriod]
      ,[adTrialPeriodEnd]
      ,[acPicture]
      ,[acNoteN]
      ,[acSubject]
      ,[acPlaceWork]
      ,[acCodeP]
      ,[acCodeSRV]
      ,[acWorkPermitType]
      ,[acWorkPermitName]
      ,[acPassword]
      ,[acPrivatCar]
      ,[anQId]
      ,[acForeignsCode]
      ,[acReligion]
      ,[anInTaxPercent]
      ,[anUserId]
      ,[acClothingNo]
      ,[acNoControlZIZ]
      ,[acZZZSNumber]
  FROM [PantheonFxAt].[dbo].[tHR_Prsn]
  where acregno=1531


  update [PantheonFxAt].[dbo].[tHR_Prsn] set acpost='HR-44272' where acregno=1531