/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Rbroj]
      ,[IDRadnika]
      ,[PrezimeIme]
      ,[Datum]
      ,[Dosao]
      ,[Otisao]
      ,[tdoci]
      ,[totici]
      ,[Checker]
      ,[Napomena]
      ,[Kasni2]
      ,[Prekovremeni]
      ,[OdobreniPrekovremeni]
      ,[RazlogIzostanka]
      ,[Poduzece]
      ,[Smjena]
      ,[RadnoMjesto]
      ,[Hala]
      ,[Ukupno_sati]
      ,[Ukupno_minuta]
      ,[DatumUnosa]
      ,[Korisnik]
      ,[Kasni]
  FROM [RFIND].[dbo].[pregledvremena2]
  where kasni <>0